.btn {
  background-color: #1db954;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  min-block-size: 48px;
  color: #000000;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  &:hover {
    background: #3be477 !important;
    transform: scale(1.04);
  }
  &__save {
    padding-inline: 32px;
  }
  &__text {
    font-size: 1rem;
    font-weight: 700;
    &.collapsed {
      display: none;
    }
  }
  &--login:hover {
    background: #3be477 !important;
    transform: scale(1.04);
  }
  &--signup:hover {
    background: #3be477 !important;
    color: #000000 !important;
    transform: scale(1.04);
  }
  &__back {
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    border-radius: var(--encore-button-corner-radius, 9999px);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: var(--text-subdued, #656565);
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -50px;
    &:hover {
      background: none !important;
      transform: scale(1.04);
      color: white !important;
    }
  }
  &__block {
    display: flex;
  }
  &__icon-back {
    fill: currentcolor;
    &:hover {
      transform: scale(1.04);
    }
  }
  &__home {
    color: #fff;
    margin-inline-start: 8px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #1f1f1f;
    color: #b3b3b3;
    flex-shrink: 0;
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: 12px !important;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    touch-action: manipulation;
    transition-duration: 33ms;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    border: 0px;
    box-sizing: border-box;
    &:hover {
      background-color: #1f1f1f !important;
      transform: scale(1.04);
    }
  }
  &__icon-home {
    fill: white;
    width: var(--encore-graphic-size-decorative-base, 24px);
    height: var(--encore-graphic-size-decorative-base, 24px);
  }
  &__dropdown-add {
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #1f1f1f;
    color: #b3b3b3;
    flex-shrink: 0;
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: 12px !important;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    touch-action: manipulation;
    transition-duration: 33ms;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    border: 0px;
    box-sizing: border-box;
    &:hover {
      background-color: #1f1f1f !important;
      transform: scale(1.04);
    }
  }
  &__icon-add {
    fill: white;
    width: var(--encore-graphic-size-decorative-base, 24px);
    height: var(--encore-graphic-size-decorative-base, 24px);
  }
  &__dropdown {
    .ant-dropdown-menu {
      background-color: #1f1f1f;
    }
  }
  &__add-artist {
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding-inline: 2px;
    &:hover {
      background-color: #1f1f1f !important;
      transform: scale(1.04);
      color: white !important;
    }
  }
  &__icon-plus {
    fill: white;
    width: 16px;
    height: 16px;
  }
  &__wrapper-text-icon {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    min-block-size: 40px;
    padding: 4px 8px;
    cursor: pointer;
    flex-shrink: 0;
    border: none;
    box-shadow: none;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 1rem;
    background-color: #121212;
    &:hover {
      color: #b3b3b3 !important;
      background-color: #121212 !important;
    }
    &.show {
      transform: rotate(180deg);
    }
    &.collapsed {
      display: none;
    }
  }
  &__icon-collapse {
    fill: currentcolor;
    width: var(--encore-graphic-size-decorative-base, 24px);
    height: var(--encore-graphic-size-decorative-base, 24px);
  }
  &__icon-show {
    fill: currentcolor;
    width: var(--encore-graphic-size-decorative-smaller, 16px);
    height: var(--encore-graphic-size-decorative-smaller, 16px);
  }

  &__create_playlist {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: none !important;
    flex-shrink: 0;
    min-inline-size: 0px;
    min-block-size: 40px;
    padding-block: 12px;
    padding-inline: 12px !important;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    touch-action: manipulation;
    transition-duration: 33ms;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    border: 0px;
    box-sizing: border-box;
    color: #b3b3b3;
    &:hover {
      color: #b3b3b3 !important;
      background-color: #1f1f1f !important;
      transform: scale(1.04);
    }
  }

  &__icon-create-playlist {
    fill: currentcolor;
    width: 16px;
    height: 16px;
  }
  &__play {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #1ed760;
    flex-shrink: 0;
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: 12px !important;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    touch-action: manipulation;
    transition-duration: 33ms;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    border: 0px;
    box-sizing: border-box;
    &:hover {
      background-color: #3be477 !important;
      transform: scale(1.04);
    }
  }

  &__icon-play {
    width: var(--encore-graphic-size-decorative-base, 24px);
    height: var(--encore-graphic-size-decorative-base, 24px);
  }

  &__dropdown-playlist {
    background: none !important;
    border: none;
    border-radius: 50%;
    margin-left: 8px;
    color: #b3b3b3;
    &:hover {
      color: white !important;
      transform: scale(1.04);
    }
  }

  &__icon-dropdown-playlist {
    fill: currentColor;
    width: var(--encore-graphic-size-decorative-base, 24px);
    height: var(--encore-graphic-size-decorative-base, 24px);
  }
}
