.btn {
  background-color: #1db954;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  min-block-size: 48px;
  color: #000000;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  &__text {
    font-size: 1rem;
    font-weight: 700;
  }
  &--login:hover {
    background: #3be477 !important;
    transform: scale(1.04);
  }
  &--signup:hover {
    background: #3be477 !important;
    color: #000000 !important;
    transform: scale(1.04);
  }
  &__back {
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    border-radius: var(--encore-button-corner-radius, 9999px);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: var(--text-subdued, #656565);
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -50px;
    &:hover {
      background: none !important;
      transform: scale(1.04);
      color: white !important;
    }
  }
  &__block {
    display: flex;
  }
  &__icon-back {
    fill: currentcolor;
    &:hover {
      transform: scale(1.04);
    }
  }
}
