.ant-modal-content {
  background-color: #121212 !important;
}
.ant-modal-header {
  background-color: #121212 !important;
  .ant-modal-title {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.ant-modal-close {
  color: #b3b3b3 !important;
}
.ant-form-item__footer {
  display: flex;
  justify-content: flex-end;
}
.form__label-input {
  display: flex;
}

.custom-checkbox .ant-checkbox-inner {
  border-color: #44cc44;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #44cc44;
  border-color: #44cc44;
}

.custom-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #66ff66;
}
